.button {
  cursor: pointer;
}

.clear {
  background: none;
  outline: none;
  padding: 0;
  border: none;
}

.beautiful {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px;
}
